<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <h5>Returns: ${{user.score}}</h5>
    <h6 class="card-subtitle">Company Name</h6>
    <p>Code</p>
    <p>Jan 2021 Share Price: <span>$200.00</span></p>
    <p>Units <span>123</span></p>
    <p>Gain/Loss <span>323</span></p>
  </div>
</div>