<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #241e4eff;"
>
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
      <img
        src="https://via.placeholder.com/30x24"
        alt="Stockscape logo"
        width="30"
        height="24"
      />
    <a class="navbar-brand" href="/">Stockscape</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 flex-nowrap">
 <li class="nav-item mx-1">
          <a class="nav-link ps-1" style="color: white;" href="/about-us">About</a>
        </li>
        <li class="nav-item mx-1">
          <button
            class="btn ps-1"
            id="logout-btn"
            aria-current="page"
            style="color: white;"
          >Logout</button>
        </li>
       
        <li class="nav-item mx-1">
          <a
            class="nav-link active signup-link ps-2 py-1 mt-1"
            style="color: white;"
            href="/sign-up"
          >Play</a>
        </li>
      </ul>
    </div>
  </div>
</nav>