<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #241e4eff;"
>
  <div class="container-fluid">
    {{! LOGO }}
    <a class="navbar-brand" href="/"><img
        src="/assets/images/logo-dark-small.jpg"
        alt="Stockscape logo"
        width="152.95"
        height="52.25"
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-1">
          <a
            class="nav-link ps-2"
            aria-current="page"
            style="color: white;"
            href="/about-us"
          >About</a>
        </li>
        <li class="nav-item mx-1">
          <a
            class="nav-link ps-2"
            style="color: white;"
            href="/companies"
          >Stocks</a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link ps-2" style="color: white;" href="/login">Login</a>
        </li>
        <li class="nav-item mx-1">
          <a
            class="nav-link active signup-link ps-2 py-1 mt-1"
            style="color: white;"
            href="/sign-up"
          >Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>