<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Name</h5>
      <p>
        <!--to get total stock from added to basket-->
        <span>3</span>
        shares at
        <span>${{janPrice}}</span>
        =
        <!-- to add total price per company invested-->
        <span>total price</span></p>
    </div>
  </div>
</div>