<div class="card m-3" style="width: 18rem;">
  <div class="card-body text-center team-card">
    <h5 class="card-title"><i class="fas fa-user"></i> {{username}}</h5>
    <h6>Investor Type: {{investor_type}}</h6>
    <h6>Favourite Company: {{name}}</h6>
    <button class="btn btn-primary" name="view-userprofile-btn" id={{id}}>View
      Profile</button>
  </div>
</div>