<header>
   {{#if loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>
<main>
    <main class="jumbotron jumbotron-fluid text-light text-center">
 <div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">A brief look at the ideas that formed Stockscape, and the people behind them.</p>
  <hr class="my-4">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt maiores ab illo, sapiente quisquam doloribus fugit, repellat numquam natus voluptates facere dolorem, tempore explicabo! Sunt accusantium cumque est ipsam natus.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
</main>
<div class="github-links text-center text-light"><h2 class="display-5">The team behind Stockscape</h2>
<div class="d-flex justify-content-center text-light">
  <div class="p-2">Conor Kelly</div>
  <div class="p-2">Kayle Patton</div>
  <div class="p-2">Matthew Palmer</div>
  <div class="p-2">Liana Laurentiu</div>
</div>
</div>
</div>
</div>
