<header>
   {{#if loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>
<main>
    <main class="jumbotron jumbotron-fluid text-light text-center">
 <div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">A brief look at the ideas that formed Stockscape, and the people behind them.</p>
  <hr class="my-4">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt maiores ab illo, sapiente quisquam doloribus fugit, repellat numquam natus voluptates facere dolorem, tempore explicabo! Sunt accusantium cumque est ipsam natus.</p>
  <p class="lead">
    <a class="btn btn-dark text-light btn-lg" href="#" role="button">Visit the Github Repo!</a>
  </p>
</div>
</main>
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-5">The Team Behind Stockscape</h1>
            <p class="lead mb-0">Think you could help improve Stockscape? <br> contact one of the team on one of their channels</p>
        </div>
    </div>
</div>
