<header>
   {{#if loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>
<main>
<nav class="jumbotron-fluid text-light text-center" id="jumbotron">
  <img src="./assets/images/logo-dark-removebg-preview.png" class="img-fluid rules-logo" alt="Stockscape">
  <p class="lead about-us-hero">A brief look at the ideas that formed Stockscape, and the people behind them.</p>
  
    <a class="btn btn-dark text-light btn-lg" href="https://github.com/lianavaleria15/stockscape" role="button">Visit the Github Repo </a>
  </p>
</div>

</main>
 <div class="rules">
        <div class="row no-gutters">
            <div class="col-auto simpsons-div">
                <img src="./assets/images/market-simpsons.gif" class="img-fluid simpsons" alt="rollercoaster stock ride">
            </div>
            <div class="col">
                <div class="card-block text-center px-2">
                    <h2 class="m-4 rules-title">How To Play  <img src="./assets/images/logo-white-removebg-preview.png" class="how-to-play-stockscape" alt="Stockscape"></h2>
                    <p><b>Where can you buy chicken broth in bulk?...The stock market.</b></p>
                    <p class="m-4 rules-text">To play Stockscape, you’ll need an account. Click <a href="/sign-up" class="rules-link">here</a> to sign up, or <a href="/login" class="rules-link">here</a> to login.</p>
                    <p><b>$1,000,000.00</b> available to spend in your portfolio, reckon you can turn it into more?</p>
                    <p>
To get started, create a new portfolio by selecting the Play button. This will then allow you to create a portfolio and send you to the Stocks page. The Stocks page shows all of the available companies you can choose from. When you find a stock you want to purchase, input the number of shares you want and click the add to portfolio button. You can add multiple different companies to a portfolio, however, you can only spend a maximum of 10% of your portfolio in specific companies shares. You can view your portfolios on your dashboard page, along with seeing how yours ranks amongst other users.</p>
    
                    <p>So what are you waiting for? Show the world your skills.</p>
                    <a href="/portfolio/create" class="btn btn-primary"><i class="fas fa-coins"></i>Play Now</a>
                </div>
            </div>
        </div>
 </div>
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-5">The Team Behind Stockscape</h1>
            <p class="lead mb-0">Think you could help improve Stockscape? Contact the team on one of their channels.</p>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="row text-center">

        <!-- Conor Kelly -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="team-card bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/65548530?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Conor Kelly</h5><span class="small text-uppercase text-muted">UoB Coding Bootcamp</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/conorjkelly96" class="social-link"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/conorjkelly96" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Kayle Patton -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="team-card bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/86710295?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Kayle Patton</h5><span class="small text-uppercase text-muted">UoB Coding Bootcamp</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/kayleriegerpatton" class="social-link"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/kaylerieger/" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

          <!-- Matthew Palmer -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="team-card bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/87938352?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Matthew Palmer</h5><span class="small text-uppercase text-muted">UoB Coding Bootcamp</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/tigerbath" class="social-link"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/matthew-palmer-a13aab156/" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

          <!-- Liana Laurentiu -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="team-card bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/77942076?v=4" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Liana Laurentiu</h5><span class="small text-uppercase text-muted">UoB Coding Bootcamp</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/lianavaleria15" class="social-link"><i class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/liana-valeria-laurentiu-66b406118/" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

</main>
<footer>{{> footer}}</footer>
    {{! Bootstrap JS }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    {{! jQuery }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
