<h1>companies</h1>

<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Apple Inc.</h5>
      <h6 class="card-title"> AAPL</h6>
      <p class="card-text">Jan '21 Price: 177.57</p>
      <p class="card-text">Sector: Technology</p>
      <p class="card-text"></p>
      <a href="#" class="btn btn-info">See More</a>
    </div>
  </div>
</div>