<header>
    {{>private-navbar}}
</header>
<main>
    <div class="dash-cards-container d-flex flex-wrap justify-content-center">
        <div class="card m-4" style="width: 45rem;">
            <div class="card-header h4">
                Account Info
            </div>
            <div class="card-body">
                <p class="card-text">Update your public profile. Create, view, and edit your current investment portfolios.</p>
                <button id="{{id}}" name="edit-profile-btn" class="btn btn-primary">View Profile</button>
            </div>
        </div>
        <div class="card m-4" style="width: 45rem;">
            <div class="card-header h4">
                Top Stockscape Portfolios (bar)
            </div>
            <div class="card-body">
                <p class="card-text">LEADERBOARD CHART HERE. Bar chart. Get </p>
                <canvas>

                </canvas>
            </div>
        </div>
        <div class="card m-4" style="width: 45rem;">
            <div class="card-header h4">
                Your Current Top Portfolio(pie)?
            </div>
            <div class="card-body">
                <p class="card-text">Pull user's portfolio data with associated companies through PortfolioCompany, render chart with highest return value</p>
                <div class="stock-chart-container">
                    <canvas class="stock-allocation-chart" width="400" height="400">

                </canvas>
                </div>
            </div>
        </div>
    </div>
</main>