<header>
    {{>private-navbar}}
</header>
<main>
    <div class="dash-cards-container d-flex flex-wrap justify-content-center text-center">
        <div class="card m-4" style="width: 36rem;">
            <div class="card-header h4">
                Account Info
            </div>
            <div class="card-body">
                <p class="card-text align-middle">Update your public profile. Create, view, and edit your current investment portfolios.</p>
                <button id="{{id}}" name="view-profile-btn" class="btn btn-primary">View Profile</button>
            </div>
        </div>
        <div  class="card m-4" style="width: 36rem;" >
            <div class="card-header h4">
                Your Current Top Portfolio
            </div>
            <div id="{{id}}" class="card-body" name="allocation-chart-canvas">
                {{>allocation-chart}}
            </div>
        </div>
        <div class="card m-4" style="width: 36rem;">
            <div class="card-header h4">
                Top Stockscape Portfolios
            </div>
            <div class="card-body">
                <div class="leaderboard-chart-container">
                    <canvas id="{{id}}" name="leaderboard-graph-canvas" width="300" height="300">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>{{> footer}}</footer>
 {{! Bootstrap JS }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    {{! jQuery }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
<script src="/assets/js/dashboard-page.js"></script>
