<header>
    {{>private-navbar}}
</header>
<main id="{{id}}" name="allocation-chart-card">
    <div class="dash-cards-container d-flex flex-wrap justify-content-center">
        <div class="card m-4" style="width: 36rem;">
            <div class="card-header h4">
                Account Info
            </div>
            <div class="card-body">
                <p class="card-text">Update your public profile. Create, view, and edit your current investment portfolios.</p>
                <button id="{{id}}" name="view-profile-btn" class="btn btn-primary">View Profile</button>
            </div>
        </div>
        <div id="{{id}}" class="card m-4 " style="width: 36rem;" >
            <div class="card-header h4">
                Your Current Top Portfolio
            </div>
            <div class="card-body">
                {{>allocation-chart}}
            </div>
        </div>
        <div class="card m-4" style="width: 36rem;">
            <div class="card-header h4">
                Top Stockscape Portfolios
            </div>
            <div class="card-body">
                <div class="leaderboard-chart-container">
                    <canvas class="leaderboard-graph" width="300" height="300">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</main>