<header>
    {{> private-navbar}}
</header>

<main>
  <div id="form-container" class="form-container">
    <form id="user-bio-form">
      <div class="form-group">
        <label for="username" class="text-white">Email address</label>
        <input
          type="username"
          class="form-control"
          id="username"
          placeholder="bitCoinBoi69"
        />
      </div>
      <div class="form-group">
        <label for="investor-type" class="text-white">Investor Type</label>
        <select class="form-control" id="investor-type">
          <option>Yolo Life Savings<i class="fab fa-bitcoin"></i></option>
          <option>Weekend Investor</option>
          <option>Play it safe</option>
          <option>r/WallStreetBets Graduate</option>
          <option>Jamie Dimonhands</option>
        </select>
      </div>
      <div class="form-group">
        <label for="favourite-company" class="text-white"
          >Favourite Company</label
        >
        <select multiple class="form-control" id="favourite-company">
          <option>$TSLA</option>
          <option>$GOOGL</option>
          <option>$AMZN</option>
          <option>$GME</option>
          <option>$JPM</option>
        </select>
      </div>
      <div class="form-group">
        <label for="user-bio" class="text-white">About Me</label>
        <textarea class="form-control" id="user-bio" rows="3"></textarea>
      </div>
    </form>
  </div>

  <div id="portfolio-container" class="d-flex flex-wrap text-center portfolio-container">
      <div id="portfolio-header" class="text-center">
          <h2 class="">Investment Portfolio</h2>
          <h3 class="">$12,000,0000</h3>
      </div>

      <div id="company-card-container" class="d-flex flex-wrap align-content-center">
          <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Apple Inc.</h5>
            <h6>APPL</h6>
            <p>Jan 2021 Share Price: <span>$200.00</span></p>
            <p>Units <span>123</span></p>
            <p>Gain/Loss <span>323</span></p>
             </div>
            </div>

            <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Apple Inc.</h5>
            <h6>APPL</h6>
            <p>Jan 2021 Share Price: <span>$200.00</span></p>
            <p>Units <span>123</span></p>
            <p>Gain/Loss <span>323</span></p>
             </div>
            </div>

            <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Apple Inc.</h5>
            <h6>APPL</h6>
            <p>Jan 2021 Share Price: <span>$200.00</span></p>
            <p>Units <span>123</span></p>
            <p>Gain/Loss <span>323</span></p>
             </div>
            </div>

            <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Apple Inc.</h5>
            <h6>APPL</h6>
            <p>Jan 2021 Share Price: <span>$200.00</span></p>
            <p>Units <span>123</span></p>
            <p>Gain/Loss <span>323</span></p>
             </div>
            </div>


            <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Apple Inc.</h5>
            <h6>APPL</h6>
            <p>Jan 2021 Share Price: <span>$200.00</span></p>
            <p>Units <span>123</span></p>
            <p>Gain/Loss <span>323</span></p>
             </div>
            </div>

            <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Apple Inc.</h5>
            <h6>APPL</h6>
            <p>Jan 2021 Share Price: <span>$200.00</span></p>
            <p>Units <span>123</span></p>
            <p>Gain/Loss <span>323</span></p>
             </div>
            </div>
      </div>

      <div>
          <button type="button" class="btn btn-warning">Edit Portfilio</button>
      </div>
  </div>
</main>

