<header>
   {{#if req.session.loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>
<main>
    <div class="card mx-auto mt-5 " style="min-width: 18rem; max-width: 75%">
  <div class="card-body bg-light">
    <h1 class="card-title text-center">Stockscape</h5>
    <p class="card-text text-center" >2021 was the year that everyone became an expert in Stocks, Cryptocurrencies and every other asset class in the market. Consider yourself an expert? Join StockScape today!</p>
    <div class="d-flex justify-content-center">
        <a href="/about-us" class="btn btn-primary mx-1">About</a>
    <a href="/sign-up" class="btn btn-primary mx-1">Sign Up</a>
    </div>
  </div>
</div>
</main>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
       
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->