<header>
  {{> private-navbar}}
</header>
<main>
  <div class="input-group flex-column d-flex flex-wrap mx-4 mt-3 mb-5">
  <h1 class="h1 text-center mb-2" style="color: white;">Users</h1>
  <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
  <div id="users-container" class="d-flex flex-column flex-wrap justify-content-center mx-4 mt-3 mb-5">
  {{#each users}}
  {{> user-card parent=../this}}
  {{/each}}
  </div>
</main>
