<header>
  {{> private-navbar}}
</header>
<main>
  <div class="input-group flex-column d-flex flex-wrap mx-4 mt-3 mb-5">
  <h1 class="h1 text-center mb-2" style="color: white;">Users</h1>
  <form class="d-flex" id="username-search-form">
        <input class="form-control me-2" type="search" placeholder="Search" id="username" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" id="username-search">Search</button>
  </form>
</div>
  <div id="users-container" class="d-flex flex-column flex-wrap justify-content-center mx-4 mt-3 mb-5">
  {{#each user}}
  {{> user-card parent=../this}}
  {{/each}}
  </div>
</main>
    {{! Bootstrap JS }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    {{! jQuery }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
<script src="/assets/js/view-users.js"></script>