:root {
  --light-accent: #95f9e3ff;
  --mid-accent: #69ebd0ff;
  --dark: #5e47f7;
  --darkest: #241e4eff;
  --subtle-accent: #758173ff;
  --bold-accent: #cb904dff;
  --error-red: #f4442e;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--darkest);
}

.error {
  color: var(--error-red);
}

.btn-primary {
  background-color: var(--bold-accent);
  border-color: var(--bold-accent);
}

.btn-secondary {
  background-color: var(--mid-accent);
  border-color: var(--mid-accent);
}

.bg-dark {
  background-color: var(--darkest);
}

.signup-link {
  border-radius: 5px;
  background-color: var(--dark);
}

.jumbotron {
  background-image: url("../images/aboutusheroimage.jpg");
  background-size: cover;
  padding: 10px;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.input-disabled {
  background-color: #fff !important;
}

@media screen and (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

/* Tablet size and smaller */
@media screen and (max-width: 768px) {
  #profile-portfolio-container {
    flex-direction: column;
  }
}
